.form_login{
    background-image: url('https://img.freepik.com/free-photo/office-table-with-cup-coffee-keyboard-notepad_1220-4617.jpg'); /* Đặt đường dẫn đến hình nền của bạn */
    background-size: cover; /* Để hình nền nắm vừa với kích thước trình duyệt */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
    background-attachment: fixed; /* Để hình nền cố định và không cuộn khi trang cuộn */
    background-position: center center; /* Để canh giữa hình nền */
    
  }